services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: scoresync
    ports:
      - "5000"
    deploy:
      replicas: 3
    restart: unless-stopped
    volumes:
      - db_data:/app/data
    environment:
      - DB_PATH=/app/data/database.db
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    ports:
      - "80:80"
    restart: unless-stopped

volumes:
  db_data:
    driver: local
