services:
  app:
    image: scoresync
    ports:
      - "5000"
    deploy:
      replicas: 3
    restart: unless-stopped

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    ports:
      - "80:80"
    restart: unless-stopped