<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

  <title>ScoreSync | Index</title>
</head>

<body>
  <script id="replace_with_navbar" src="{{ url_for('static', filename='js/nav.js') }}"></script>

  <div id="scoreboard-closed-overlay" style="
    position: fixed;
    z-index: 10;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 20%;
    pointer-events: none;">
    Scoreboard is currently closed.
  </div>

  <div class="grey darken-3">
    <div class="row">
      <ul class="tabs grey darken-3 col s12 m10">
        <li class="tab col s3 desktop-only"><a href="#Overview">Overview</a></li>
        <li class="tab col s3"><a href="#Table">Table view</a></li>
      </ul>

      <div class="col s12 m12">
        <div id="Overview" class="col s12 m12">
          <label>Overview Chart</label>
          <div id="ChartTotal" class="overview-graph"></div>
        </div>

        <div id="Table" class="col s12 m12 white-text">
          <label>Table view</label>
          <table id="data-table" class="highlight">
            <thead>
              <tr>
                <th data-field="team">Team</th>
                <th data-field="org">Organisation</th>
                <th data-field="total-points">Points</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script id="replace_with_footer" src="{{ url_for('static', filename='js/footer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scoreboard-toggle-check.js') }}"></script>

</body>

<script src="{{ url_for('static', filename='js/scores-charts.js') }}"></script>
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables-overview.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>

</html>